/*  */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "RocknRoll One", sans-serif;
  color: white;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./ssss.jpg") center/cover no-repeat fixed;
}
nav {
  margin: 20px;
}
.navbar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 50px;
}

li > a {
  text-decoration: none;
  color: white;

  margin-left: 18px;
}
section {
  margin: 50px 100px;
  width: 500px;
}
.sct-txt {
  width: 400px;
  color: darkseagreen;

  margin: 13px 0px;
}
button {
  border: 0;
  padding: 10px 28px;
  color: white;
  background-color: black;
  border-radius: 2px;

  margin: 15px 10px 0 0;
}
.bt1 {
  background-color: rgba(0, 195, 255, 0.678);
}
.bt2 {
  background-color: rgba(128, 128, 128, 0.644);
}
